header.container.w-100
  nav.navbar.navbar-toggleable-md.bg-faded
    button.navbar-toggler.navbar-toggler-right(
      type="button",
      data-toggle="collapse",
      data-target="#menu",
      aria-controls="#menu",
      aria-expanded="false")
      span.navbar-toggler-icon
    div.navbar-brand
      i.icon.icon-plane.fa.pull-left
      a(href="#") escape
    div.collapse.navbar-collapse#menu
      div.navbar-nav.ml-auto
        a.nav-item(href="#") home
        a.nav-item(href="#") services
        a.nav-item(href="#") clients
        a.nav-item(href="#") team
        a.nav-item(href="#") contact

  .h-wrapper
    h4 can you build the website of my dreams?
    h1 yep, we can do that.

    button.btn.btn-secondary.btn-lg.learn learn more